.bg-con {
  background-color: #07080c;
  color: #fff;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto';
}
.heading {
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
}
.speed {
  font-weight: 600;
}
.img {
  width: 50%;
}
.warning {
  color: #94a3b8;
  font-size: 12px;
  margin: 30px 0;
}
.button {
  height: 30px;
  border: 0;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
.accelerate {
  background-color: #0b69ff;
  color: #cbd5e1;
  margin-right: 20px;
}
.brake {
  background-color: #000;
  color: #94a3b8;
  border: #94a3b8 solid 3px;
  margin-left: 20px;
}
